.tab-pane{
    display: flex;
    flex-direction: column;
}

.tabs-btn{

    display: flex;
}

.tabs-btn span{

    padding: 10px 14px;
    border: 1px solid #b1c0ce;
    
    background-color: #d9ebfa;
    color: #172028;
    cursor: pointer;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.tabs-btn span:not(:first-child){
    margin-left: -1px;
}

.tabs-btn span.active{
    
    border-bottom: 1px solid #f0f8ff;
    z-index: 1;
    background-color: aliceblue;
}

.tabs-content{

    display: flex;
    border: 1px solid #b1c0ce;
    margin: -1px 0 0 0;
}

.tab-page{

    display: flex;
    padding: 20px;
    flex-direction: column;
    box-sizing: border-box;
    flex-grow: 1;
}
.tab-page p {

    padding: 20px;
    margin: 0;
}

.tab-content{

    display: flex;
}

.tab-content img{

    width: 228px;
    border-radius: 5px;
}
.tab-content > :first-child{
    width: 228px
}
.tab-content :not(:first-child){
    flex-grow: 1;
    min-width: 228px;
}
.tab-page h2{

    text-align: center;
}

.tab-page h4{

}
.tab-page ul{

}

.tab-page ul li{

}
