.popup-menu {

    position: absolute;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    background-color: #d2dfed;
    /*! overflow: visible; */
    padding: 10px 0;
    gap: 2px;
    align-items: flex-start;
    align-self: baseline;
    border-radius: 3px;
    box-shadow: 2px 2px 10px #00000024;
    right: -10px;
    border: 1px solid #b3c7dc;
    z-index: 9;
    box-sizing: border-box;
}

.popup-menu .menu-item {

    flex-grow: 1;
    display: block;
    line-height: 16px;
    width: fit-content;
    padding: 6px 20px 6px 25px;
    font-size: 14px;
    color: #2b4b6f;
    text-wrap: nowrap;
    width: 100%;
    box-sizing: border-box;
    /*! height: 16px; */
}

.popup-menu .menu-item.type-check.checked::before{
    content: '\2713';
    position: absolute;
    width: 16px;
    height: 16px;
    font-size: 16px;
    left: 8px;
}

.popup-menu .menu-item:hover{
    background-color: #bac9db;
}


.popup-menu .menu-separator{
    display: block;
    width: 100%;
    box-sizing: border-box;
    border-top: solid 1px #b3c7dc;
    border-bottom: 1px solid #e5eef6;
}

.popup-menu .menu-item.menu-item-inactive{
    color: #9ca7b4;;
    text-shadow: 1px 1px aliceblue;
}

.popup-menu .menu-item.menu-item-inactive:hover{
    background-color: transparent;
}

.popup-menu .menu-item:has(> .popup-menu)::after{
    content: '⯈';
    position: absolute;
    right: 10px;
}

.popup-menu .menu-item > .popup-menu{
    right: -60px;
}