.container {
    display: flex;
    flex-wrap: wrap;
}

.highlight {
    border: 1px solid green;
    box-shadow: 0 0 21px green;
}

.cpanel {
    background-color: #bec6cf;
    padding: 5px 10px;
    border-radius: 3px;
    display: flex;
    flex-wrap: wrap;
    font-family: 'Courier New', Courier, monospace;
    box-sizing: border-box;
}

.cpanel button, .cpanel input[type="file"]  {
    background-color: #587ea3;
    border: none;
    border-radius: 3px;
    padding: 6px 20px;
    color: white;
    cursor: pointer;
    white-space: nowrap;
    line-height: 16px;
}

.cpanel button:hover {
    background-color: #779cbf;
}

.cpanel button.hard{
    
    background-color: #8e142a;
}

.cpanel button.hard:hover{
    
    background-color: #a7485a;
}

.cpanel input[type=text] {

    padding: 7px 10px;
    border-radius: 3px;
    margin-right: 10px;
    outline: none;
    line-height: 16px;
    border: 1px solid #adbbca;
    width: 220px;
}

.vlsep {
    border-right: 1px solid #cfdeed;
    border-left: 1px solid #a6b1bf;
    display: flex;
    margin: 0 10px;
}